advertools==0.7.3
certifi==2019.6.16
chardet==3.0.4
Click==7.0
dash==1.9.0
dash-bootstrap-components==0.7.0
dash-core-components==1.8.0
dash-html-components==1.0.2
dash-renderer==1.2.4
dash-table==4.6.0
Flask==1.1.1
Flask-Compress==1.4.0
future==0.17.1
gunicorn==19.9.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
numpy==1.17.0
oauthlib==3.1.0
pandas==1.0.1
plotly==4.5.0
python-dateutil==2.8.0
pytz==2019.2
PyYAML==5.4
requests==2.22.0
requests-oauthlib==1.2.0
retrying==1.3.3
six==1.12.0
twython==3.7.0
urllib3==1.26.5
Werkzeug==2.2.3
